/data
/.idea
/build
/dist
.ipynb_checkpoints/
__pycache__/
*.egg-info
*.log
/venv
/.venv
*.npy
*.pyc
*.h5
*.pth
*.sqlite3
*.png
#*.ipynb
*.pkl
*.pickle
*.pt
*.json
*.lock
!uv.lock
cycle_layer_seg*
record_layer_seg*
/usage/追溯数据导入/
~$*
*.mph
*.dat
*.csv
*.xlsx
/.vscode
*.hithium
/release
Output/
